@charset "utf-8";

#banner{
  width: 1920px;
  height: 100%;
}

#scroll{
  display: block;
  width: 117px;
  height: 85px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.banner-text{
  position: absolute;
  white-space: nowrap;
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 44pt;
  color: #007b4d;
  letter-spacing: 1px;
  top: 327px;
  left: 364px;
}

.map-small-banner-title{
  position: absolute;
  white-space: nowrap;
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 44pt;
  color: white;
  letter-spacing: 1px;
  top: 92px;
  left: 850px;
}

.map-small-banner-text{
  position: absolute;
  white-space: nowrap;
  font-family: "Noto Sans KR";
  font-size: 20pt;
  color: white;
  letter-spacing: 1px;
  top: 225px;
  left: 650px;
}

.small-banner-title{
  position: absolute;
  white-space: nowrap;
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 44pt;
  color: white;
  letter-spacing: 1px;
  top: 92px;
  left: 880px;
}

.small-banner-text{
  position: absolute;
  white-space: nowrap;
  font-family: "Noto Sans KR";
  font-size: 20pt;
  color: white;
  letter-spacing: 1px;
  top: 225px;
  left: 742px;
}

#use-button{
  position: absolute;
  background-color: #007b4d;
  border: transparent;
  border-radius: 20px;
  width: 170px;
  height: 60px;
  font-family: "Noto Sans KR";
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 16pt;
  margin-top: 70px;
  top: 450px;
  left: 369px;
}

#shortcuts-button{
  position: absolute;
  background-color: #007b4d;
  border: transparent;
  border-radius: 20px;
  width: 170px;
  height: 60px;
  font-family: "Noto Sans KR";
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 16pt;
  margin-top: 70px;
  top: 450px;
  left: 567px;
}