@charset "utf-8";

.function{
  display: block;
  position: absolute;
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 30pt;
  color: #010101;
  top: 1875px;
  left: 830px;
}

.func-box{
  width: 1180px;
  height: 700px;
  border-radius: 22px;
  box-shadow: 0px 0px 27px 2px #f4f4f4;
  top: 1912px;
  left: 370px;
}