@charset "utf-8";

body{
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Noto Sans KR";
  font-weight: bold;
}

.container {
  display: flex;
  margin: 0 auto;
}

.logo-image{
  width: 170px;
  height: 56px;
  margin-left: 30px;
  margin-top: 2px;
}

.navbar{
  display: flex;
  flex-grow:0;
  background: white;
  width: 1180px;
  height: 75px;
  align-items: center;
  justify-content: space-between;
}

#aisdeLeft, #aisdeRight {
  flex-grow: 1;
}

#section {
  flex-grow: 0;
  width: 1180px;
}

@media screen and (max-width: 1200px) {
  #aisdeLeft, #aisdeRight {
  display:none;
  }
}

.leftmenu{
  display: flex;
  float: left;
  align-items: center;
 
}

.tab {
  display: flex;
  float: left;
  margin-left: 680px;
}

.menu{
  font-size: 15px;
  margin-right: 30px;
  list-style-type: none;
}