@charset "utf-8";

#service{
  margin-left: 56%;
  margin-top: 46px;
}

@media screen and (max-width: 1200px) {
  #service {
    display:none;
  }
}

.service-title-text{
  position: absolute;
  font-family: "Noto Sans KR";
  font-weight: bold;
  margin-top: -475px;
  margin-left: 23%;
  font-size: 30pt;
  color: #010101;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  .service-title-text{
    margin: 0 32% 0 32%;
    margin-top: 195px;
  }
}

.service-subtext1{
  position: absolute;
  font-family: "Noto Sans KR";
  font-weight: bold;
  margin-top: -390px;
  margin-left: 20%;
  font-size: 20pt;
  color: #010101;
  white-space: nowrap;
}

.service-subtext2{
  position: absolute;
  font-family: "Noto Sans KR";
  font-weight: bold;
  margin-top: -355px;
  margin-left: 21%;
  font-size: 20pt;
  color: #010101;
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  .service-subtext1{
    margin: 0 26% 0 26%;
    margin-top: 280px;
  }
  .service-subtext2{
    margin: 0 28% 0 28%;
    margin-top: 315px;
  }
}